* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("fonts/GraphikLCG-Regular.otf"), 
}

@font-face {
    font-family: "GraphikLCG-Bold";
    src: url("fonts/GraphikLCG-Bold.otf");
}

body {
    background: #d7d7d7;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'GraphikLCG', sans-serif;
}

.container_main {
    max-width: 1600px;
    margin: 0 auto;
}

b {
    font-family: "GraphikLCG-Bold", sans-serif;
}

.block {

}

.banner {
    max-width: 100%;
}

.banner_100 {
    width: 100%;
}

.b01 {
    line-height: 0;
}

.b02 {
    padding: 100px;
    background: #ffffff;
    text-align: justify;
}

.b02 h1 {
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 20px;
}

.red_square {
    background: #00caf0;
    margin-right: 25px;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.sm {
    width: 16px;
    height: 16px;
}

.block p {
    max-width: 600px;
}

/* next block */

.b03 {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.b03 h2 {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 20px;
}

.b03 img, .b05 img {
    padding: 30px;
}

.img_box {
    max-width: 50%;
}

.text_box {
    text-align: justify;
}

.b03 .text_box, .b05 .text_box {
    padding: 200px 40px;
    margin-left: 50px;
    margin-top: 30px;
}

/* next block */

.b04 {
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: row-reverse;
}

.b04 .text_box {
    padding: 150px 20px;
    margin-right: 40px;
    margin-top: 30px;
}

.b04 h2, .b05 h2 {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
}

.b04 img {
    padding: 10px;
    max-width: 90%;
}

/* next block  */

.b05 {
    background: #f2f2f2;
    color: #000;
    display: flex;
    flex-direction: row;
}

/* next block */

.b06 {
    color: #222222
}

.b06 h2 {
    display: inline-block;
}

.nav_item {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

.selected {
    color: #00caf0;
}

.nav_item:not(:first-of-type) {
    border-left: 1px solid #919090;
}

.nav_box {
    margin: 30px 0 30px 130px;
}

.b06 .text_box {
    margin: 30px 0 30px 100px;
}

/* next block  */

.b07, .b08, .b09, .b10, .b11 {
    background: #222222;
    color: #fff;
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.b12 {
    background: #222222;
    color: #fff;
    display: none;
    flex-direction: row;
    padding: 30px;
    overflow-x:auto;

}
.b08, .b09, .b10, .b11, .b12 {
    display: none;
}


.b07 .text_box, .b08 .text_box, .b09 .text_box, .b10 .text_box, .b11 .text_box {
    padding: 30px 20px;
    margin-left: 70px;
    margin-top: 30px;
}

.b07 img, .b08 img, .b09 img, .b10 img, .b11 img, .b12 img {
    max-width: 90%;
    border: 3px solid #353535;
    margin: 45px 0px;
    box-sizing: border-box;
}

.b07 p, .b08 p, .b09 p, .b10 p, .b11 p, .b12 p {
    font-size: 15px;
}

.b07 h2, .b08 h2, .b09 h2, .b10 h2, .b11 h2, .b12 h2 {
    padding-bottom: 20px;
}

.b12 .text_box {
    width: 100%;
    font-size: 14px;
    padding: 20px 50px;
}

/* next block  */


table {
    width: 100%;
}

table tr:nth-child(even) {
    background:#333333
}

td {
    border: 1px solid #333333;
    padding: 5px;
}

.active {
    display: flex;
}

.button_pult {
    line-height:35px;
    min-width: 270px; 
    max-width:280px; 
    text-decoration:none; 
    background:#00caf0; 
    color:#fff; 
    font-size:18px; 
    display:inline-block; 
    text-align:center; 
    margin-left: 15px;
    transition: all 0.2s;
}

.button_pult:hover {
    background:#333;
    color: #fff;
}

.button_large {
    min-width: 80%;
    margin-left: 0;
}

.button_box {
    display: flex;
    justify-content: center;
}


#tab7, #tab8, #tab9, #tab10, #tab12 {
    background: #8d8884;
}

#tab10 table tr:nth-child(even) {
    background:#77736f;
}

#tab10 td {
    border: 1px solid #77736f;
}

#tab7 img, #tab8 img, #tab9 img, #tab10 img, #tab12 img {
    border: 3px solid #77736f;
}

/* next block  */

.b13 {
    text-align: center;
    padding: 50px;
}

.awards {
    height: 100px;
    display: inline-block;
    padding: 50px;
}


/* next block  */

.footer {
    background: #000;
    color: #fff;
    padding: 100px;
    text-align: center;
}

.footer p {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: -25px;
}

.logo {
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}

.links {
    margin-top: 30px;
}

.links a {
  color: #fff;
  text-decoration: none;  
  transition: all 0.2s;
  padding: 5px 10px;
  font-size: 20px;
}

.links a:first-of-type {
    border-right: 1px solid #f2f2f2;
}

.links a:hover {
    color: #00caf0;
}

.pult_color {
    color: #00caf0;
}

#tab11 p, #tab12 p {
    font-size: 20px;
}

/* next block */

.goods_block {
    background: #f2f2f2;
}

.goods_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.goods {
    padding: 10px;
    text-align: center;
}

.goods_img {
    max-width: 100%;
}

.goods_img:hover {
    transform: scale(1.2);
}

.new-price {
    font-weight: bold;
    font-size: 25px;
}





@media screen and (max-width: 1600px) {
    .nav_item {
        padding: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1250px) {
    .nav_item {
        padding: 10px;
        font-size: 15px;
        display: block;
        border-left: 1px solid #919090;
    }

    .goods_row {
        flex-direction: column;
    }

    .goods_img {
        max-width: 50%;
    }

}


@media screen and (max-width: 1110px) {

    .b02 {
        padding: 40px;
    }

    .b03, .b04, .b05, .b07, .b08, .b09, .b10, .b11, .b12 {
        flex-direction: column;
    }

    .img_box {
        max-width: 100%;
        margin: 0 auto;
    }


    .b03 .text_box, .b04 .text_box, .b05 .text_box, .b06 .text_box,  .b07 .text_box,  .b08 .text_box,  .b09 .text_box,  .b10 .text_box,  .b11 .text_box,  .b12 .text_box {
        padding: 40px;
        margin: 0 auto;
    }

    .b03 img, .b05 img, .b07 img, .b08 img, .b09 img, .b10 img, .b11 img, .b12 img {
        padding: 0;
    }

    .b07 img, .b08 img, .b09 img, .b10 img, .b11 img, .b12 img {
        max-width: 100%;
    }

    .nav_box {
        margin: 30px;
    }


    .button_buy {
        display:block; 
        margin-left: 0px;
        margin-top: 10px;

    }

    .awards {
        height: 50px;
        padding: 20px;
    }
    

    .footer {
        padding: 30px;
    }

    .links a {
        font-size: 16px;
    }

    .button_large {
        max-width: 80%;
        font-size: 14px;
    }

}

@media screen and (max-width: 600px) {
    .goods_img {
        max-width: 100%;
    }
}



@media screen and (max-width: 390px) {
    .b13 {
        padding: 40px 20px;
    }

    .footer {
        padding: 30px 10px;
    }


}

